body{
    font-family: 'Syne', sans-serif;
    overflow: hidden;
}

header{
    position: absolute;
    font-size: 2vw;
    top: calc(100vh - 3vw);
    left: 1vw;
}

header a{
   color: #e63946;
}

#logo{
    pointer-events: none;
    width: 10vw;
    z-index: 2;
}

#logo2{
    pointer-events: none;
    width: 10vw;
    z-index: -1;
}

img.sup{
    float: left;
    display: block;
    width: 30vw;
    margin: 0;
    padding: 0;
    z-index: 1;
}


p{
    padding-left: 1.5vw;
    height: 30vw;
    margin: 0;
    padding-top: 3vw;
    padding-bottom: 3vw;
    font-size: 3.5vw;
    line-height: 6vw;
    float: left;
    display: block;
    z-index: -1;
    color:  #475492;
    animation: colorText 5s infinite alternate;
}

#nick{
    color: #e63946;
}

a:hover{
    color: #44C330 !important;
}

#site{
    color: #e63946;
}

#git{
    color:#e63946;
}

@keyframes colorText {
    50%{
        color: #262d79;
    }
}


body {
    background: #a9c9dd;
    animation: background 5s infinite alternate;
}

@keyframes background {
    50% {
        background: #88a2c4;
    }
}

@media screen and (max-width: 1024px) {
    #logo{
        width: 20vw;
    }
    #logo2{
        width: 20vw;
    }

    img.sup{
        width: 60vw;
        margin-left: 20vw;
        margin-right: 20vw;
    }

    p{
        font-size: 6vw;
        line-height: 12vw;
        height: auto;
    }


}