body{
    font-family: 'Syne', sans-serif;
}

img{
    float: left;
    display: block;
    width: 30vw;
    margin: 0;
    padding: 0;
}

p{
    padding-left: 1.5vw;
    height: 30vw;
    margin: 0;
    padding-top: 3vw;
    padding-bottom: 3vw;
    font-size: 3.5vw;
    line-height: 6vw;
    float: left;
    display: block;
}

footer{
    display: inline-block;
}

@media screen and (max-width: 1024px) {
    img{
        width: 60vw;
        margin-left: 20vw;
        margin-right: 20vw;
    }

    p{
        font-size: 6vw;
        line-height: 12vw;
        height: auto;
    }

}