body{
    font-family: 'Syne', sans-serif;
}

#logo{
    width: 10vw;
    /* filter: invert(50); */
    /* mix-blend-mode: screen; */
    z-index: 2;
}

#logo2{
    width: 10vw;
    /* filter: invert(50); */
    /* mix-blend-mode: screen; */
    z-index: -1;
}

img.sup{
    float: left;
    display: block;
    width: 30vw;
    margin: 0;
    padding: 0;
    z-index: 1;
}

p{
    padding-left: 1.5vw;
    height: 30vw;
    margin: 0;
    padding-top: 3vw;
    padding-bottom: 3vw;
    font-size: 3.5vw;
    line-height: 6vw;
    float: left;
    display: block;
    z-index: -1;
    color:  #2E2F31;
    animation: colorText 5s infinite alternate;
}

@keyframes colorText {
    50%{
        color: #3D467C;
    }
}

footer{
    display: inline-block;
}

body {
    background: #F2E6CE;
    animation: background 5s infinite alternate;
}

@keyframes background {
    50% {
        background: #F27830;
    }
}

@media screen and (max-width: 1024px) {
    #logo{
        width: 20vw;
    }

    img.sup{
        width: 60vw;
        margin-left: 20vw;
        margin-right: 20vw;
    }

    p{
        font-size: 6vw;
        line-height: 12vw;
        height: auto;
    }


}