body{
    font-family: 'Syne', sans-serif;
}

img{
    float: left;
    display: block;
    width: 30%;
}

p{
    margin-top: 5%;
    font-size: 3vw;
    float: left;
    display: block;
}

footer{
    display: inline-block;
}